<div id="ConfirmInvitation" class="ta-mid">
    <h3>Would you like to visit {{restaurantName}} at {{startDate | date:'medium'}}?</h3>
    <div class="bm-20">
        <button type="button" class="btn btn-danger" ng-click="confirmInvitation(false)">
            <span class="glyphicon glyphicon-remove">&nbsp;No</span>
        </button>
        <button type="button" class="btn btn-success" ng-click="confirmInvitation(true)">
            <span class="glyphicon glyphicon-ok">&nbsp;Yes</span>
        </button>
    </div>
    <uib-alert type="danger" ng-if="alertMessage" class="tm-20">{{alertMessage}}</uib-alert>
</div>
