<div class="input-group input-container tm-5" ng-controller="RestaurantTablesCtrl">
    <span class="input-group-addon input-description-135" id="managers-edit">
        <button type="button" class="btn btn-default pull-right" ng-click="showTables(false)"
                ng-hide="tablesHidden">
            Tables<span class="glyphicon glyphicon-expand lm-5"></span>
        </button>
        <button type="button" class="btn btn-default pull-right" ng-click="showTables(true)"
                ng-show="tablesHidden">
            Tables<span class="glyphicon glyphicon-collapse-down lm-5"></span>
        </button>
    </span>

    <div class="form-control" aria-describedby="managers-edit" ng-style="{height: tablesHeight}">
        <!-- expanded -->
        <div ng-hide="tablesHidden">
            <div ng-show="editable" class="input-group input-container tm-5">
                <span class="input-group-addon input-description-135" id="rows-edit">Rows</span>
                <input type="text" class="form-control" placeholder="number of rows" aria-describedby="rows-edit"
                       ng-model="rows"/>
            </div>
            <div ng-show="editable" class="input-group input-container tm-5">
                <span class="input-group-addon input-description-135" id="columns-edit">Columns</span>
                <input type="text" class="form-control" placeholder="number of columns"
                       aria-describedby="columns-edit" ng-model="columns"/>
            </div>

            <table class="table table-bordered">
                <tr ng-repeat="row in tables track by $index" ng-init="rowIndex = $index">
                    <td ng-repeat="cell in row track by $index" ng-init="columnIndex = $index" class="table-cell-align"
                        ng-click="changeState(rowIndex, columnIndex)">
                        <span ng-show="cell.type == 'table'" class="glyphicon glyphicon-check">
                            <span class="lm-5">{{cell.label}}</span>
                        </span>
                        <span ng-show="cell.type == 'no_table'" class="glyphicon glyphicon-unchecked"></span>
                    </td>
                </tr>
            </table>

            <uib-alert type="danger" ng-if="alertMessage" class="tm-5">{{alertMessage}}</uib-alert>

            <button ng-show="editable" type="button" class="btn btn-default pull-right"
                    ng-click="createConfiguration()">
                <span class="glyphicon glyphicon-plus"></span>Create configuration
            </button>
        </div>

        <!-- shrink -->
        <div ng-show="tablesHidden">
            <span ng-show="editable">Table configuration isn't defined yet.</span>
            <span ng-hide="editable">{{'Rows: ' + rows + ', Columns:' + columns}}</span>
        </div>
    </div>
</div>