body {
    background-color: #E9E9E9;
}

#Content {
    background-color: #FFFFFF;
    min-height: 100%;
}

#Login {
    width: 500px;
    margin: 50px auto 75px auto;
    background-color: #F7F7F7;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px #AFAFAF;
}

#SignInButton {
    width: 370px;
}

#LoginButton {
    width: 100%;
}

.rm-5 {
    margin-right: 5px;
}

.rm-10 {
    margin-right: 10px;
}

.rm-20 {
    margin-right: 20px;
}

.lm-20 {
    margin-left: 20px;
}

.tm-5 {
    margin-top: 5px;
}

.tm-10 {
    margin-top: 10px;
}

.tm-20 {
    margin-top: 20px;
}

.bm-20 {
    margin-bottom: 20px;
}
.tm-30 {
    margin-top: 30px;
}
.tm-50 {
    margin-top: 50px;
}

.tm-75 {
    margin-top: 75px;
}

.ta-mid {
    text-align: center;
}

.plr-50 {
    padding-left: 50px;
    padding-right: 50px;
}
.options-header {
    width: 130px;
}
