.map {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .map {
        width: 375px;
        height: 375px;
    }
}

@media (min-width: 992px) {
    .map {
        width: 485px;
        height: 485px;
    }
}

@media (min-width: 1200px) {
    .map {
        width: 585px;
        height: 585px;
    }
}

