<div class="edit-modal">
    <h3>{{title}}</h3>

    <div class="input-group input-container tm-5">
        <span class="input-group-addon input-description-135" id="name-edit">Name</span>
        <input type="text" class="form-control" placeholder="Name" aria-describedby="name-edit" ng-model="name"/>
    </div>

    <div class="input-group input-container tm-5">
        <span class="input-group-addon input-description-135" id="description-edit">Description</span>
        <textarea class="form-control" placeholder="Description" aria-describedby="description-edit" rows="5"
                  ng-model="description"></textarea>
    </div>

    <div class="input-group input-container tm-5">
        <span class="input-group-addon input-description-135" id="location-edit">Location</span>
        <div class="form-control" aria-describedby="location-edit" id="MapModal" ng-init="initMap()"
             style="height: 300px;"></div>
    </div>

    <!-- Managers begin -->
    <div ng-show="managers" class="input-group input-container tm-5">
        <span class="input-group-addon input-description-135" id="managers-edit">
            <button type="button" class="btn btn-default pull-right" ng-click="showManagers(false)"
                    ng-hide="managersHidden">
                Managers<span class="glyphicon glyphicon-expand lm-5"></span>
            </button>
            <button type="button" class="btn btn-default pull-right" ng-click="showManagers(true)"
                    ng-show="managersHidden">
                Managers<span class="glyphicon glyphicon-collapse-down lm-5"></span>
            </button>
        </span>
        <div class="form-control" aria-describedby="managers-edit" ng-style="{height: managersHeight}">
            <div ng-hide="managersHidden">
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th class="table-cell-align">First name</th>
                        <th class="table-cell-align">Last name</th>
                        <th class="table-cell-align">Email</th>
                    </tr>
                    <tr ng-repeat="manager in managers">
                        <td>{{manager.firstName}}</td>
                        <td>{{manager.lastName}}</td>
                        <td>{{manager.email}}</td>
                    </tr>
                    <tr ng-if="managers.length == 0">
                        <td colspan="3">There are no managers assigned to this restaurant.</td>
                    </tr>
                </table>

                <!-- Create a manager -->
                <div style="height: 200px;">
                    <div class="input-group input-container tm-5">
                        <span class="input-group-addon input-description-135" id="email-edit">Email</span>
                        <input type="text" class="form-control" placeholder="email" aria-describedby="email-edit"
                               ng-model="email"/>
                    </div>
                    <div class="input-group input-container tm-5">
                        <span class="input-group-addon input-description-135" id="first-name-edit">First name</span>
                        <input type="text" class="form-control" placeholder="first name"
                               aria-describedby="first-name-edit"
                               ng-model="firstName"/>
                    </div>
                    <div class="input-group input-container tm-5">
                        <span class="input-group-addon input-description-135" id="last-name-edit">Last name</span>
                        <input type="text" class="form-control" placeholder="last name" aria-describedby="name-edit"
                               ng-model="lastName"/>
                    </div>

                    <button type="button" class="btn btn-default pull-right tm-10" ng-click="createManager()">
                        <span class="glyphicon glyphicon-plus"></span>Create manager
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Managers end -->

    <uib-alert type="danger" ng-if="alertMessage" class="tm-20">{{alertMessage}}</uib-alert>

    <div class="tm-10" style="height: 34px">
        <button type="button" class="btn btn-default pull-right" ng-click="save()"><span
                class="glyphicon glyphicon-save"></span>Save
        </button>
        <button type="button" class="btn btn-default pull-right rm-10" ng-click="close()"><span
                class="glyphicon glyphicon-remove"></span>Close
        </button>
    </div>

</div>