<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-subject">
            <img src="/images/logo.png" class="tm-5 rm-10 pull-left" height="40" width="40"/>
            <a class="navbar-brand" href="/">Restaurant Management System</a>
        </div>

        <ul class="nav navbar-nav navbar-left">
            <li ng-if="display == 'administrator' || display == 'manager' || display == 'customer'">
                <a href="/restaurant">Restaurants</a>
            </li>
            <li ng-if="display == 'administrator'"><a href="/users">Users</a></li>
            <li ng-if="display == 'customer'"><a href="/friends">Friends</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li ng-if="display == 'administrator' || display == 'manager' || display == 'customer'">
                <a href="/profile"><span class="glyphicon glyphicon-user rm-5" aria-hidden="true"></span>Profile</a>
            </li>
            <li ng-if="display == 'administrator' || display == 'manager' || display == 'customer'">
                <a href="/logout"><span class="glyphicon glyphicon-log-out rm-5" aria-hidden="true"></span>Log out</a>
            </li>
            <li ng-if="display == 'login'">
                <a href="/login"><span class="glyphicon glyphicon-log-in rm-5" aria-hidden="true"></span>Login</a>
            </li>
        </ul>
    </div>
</nav>