<div id="Login">

    <div class="panel-body">
        <div class="ta-mid plr-50">
            <h3>Log in with an existing account</h3>
            <uib-alert type="danger" ng-if="alertMessage">{{alertMessage}}</uib-alert>
            <div class="input-group input-group-lg tm-10">
                <span class="input-group-addon " id="email_lbl" style="top: 0;">@</span>
                <input name="email" id="email_input" type="text" class="form-control" ng-model="email"
                       placeholder="email" aria-describedby="email_lbl">
            </div>
            <div class="input-group input-group-lg tm-10">
                <span class="input-group-addon glyphicon glyphicon-lock" id="passowrd_lbl" style="top: 0;"></span>
                <input name="password" id="password_input" type="password" class="form-control" ng-model="password"
                       placeholder="password" aria-describedby="passowrd_lbl">
            </div>
            <button id="LoginButton" type="button" class="btn btn-success btn-lg tm-10" ng-click="login()">Login
            </button>
        </div>

        <div class="tm-20 ta-mid">
            <h3>If you don't have an account, you can log in with social network account</h3>

            <span id="GoogleSignInButton" style="display: inline-flex"></span>
            <img ng-click="facebookLogin()" ng-init="fbimg='normal'"
                 ng-src="{{'/images/login/btn_facebook_signin_'+fbimg+'_web.png'}}"
                 ng-mouseover="fbimg='focus'" ng-mouseleave="fbimg='normal'"
                 ng-mousedown="fbimg='pressed'" ng-mouseup="fbimg='normal'"/>
        </div>

        <div class="bm-20 ta-mid">
            <h3>or you can create a new account.</h3>
            <button id="SignUpButton" type="button" class="btn btn-success btn-lg tm-10" ng-click="signup()">Sign up
            </button>
        </div>

    </div>
</div>

